h3{
 font-size: 20px;
}

a{
    text-decoration: none;
    color: blue;
}

img{
    width: 250px;
    height: 200px;
}

div{
    background-color: brown;
}

.First-div{
    background-color: pink;
    font-style: italic;
}

.Second-div{
    background-color: blue;
}

.Third-div{
    background-color: red;
}

h1{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
